<app-navbar></app-navbar>
<div class="about-section">
    <h1>Contact Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>
  
  
<div>
    <div class="section">
      <div class="text">
        <h2>M.Madhavi</h2>
    <div>
    <p></p>
    <p>Email:meenamadhavi@gamil.com</p>
    <p>phno:8074292185</p>
    <P>Roll no:22475A0522</P>
    <p><button class="button">Contact</button></p>
  </div>

           </div>
      <img src="assets\images\photo1.jpg" alt="">
  </div>
    
    <div class="section">
        <div class="text">
            <h2>vasantha</h2>
          <p class="title">team member</p>
          
          <p>Email:vasantha@gmail.com</p>
          <p>phno:6303311432</p>
          <P>Roll no:21471A05P3</P>
          <p><button class="button">Contact</button></p>
        </div>
        <img src="assets\images\photo1.jpg" alt="">
    </div>
     
    
    
    <div class="section">
        <div class="text">
            <h2>Bhavani</h2>
            <p class="title">team member</p>
            
            <p>Email:bhavani@gmail.com</p>
            <p>phno:8522819117</p>
            <p>Roll no:21471A05M3</p>
            <p>
            <p><button class="button">Contact</button></p>
         
             </div>
        <img src="assets\images\photo1.jpg" alt="">
    </div>
     
      <div class="section">
        <div class="text">
            <h2>Triveni</h2>
            <p class="title">team member</p>
            
            <p>Email:triveni@gmail.com</p>
            <p>phno:8125718544</p>
            <p>Roll no:21471AO5Mo</p>
          
            <p><button class="button">Contact</button></p>
         
             </div>
        <img src="assets\images\photo1.jpg" alt="">
    </div>
    <div class="section">
        <div class="text">
            <h2>nikhitha</h2>
            <p class="title">team member</p>
            
            <p>Email:nikhitha23@gmail.com</p>
            <p>phno:9441342196</p>
            <p>Roll no:22475AO504</p>
            <p><button class="button">Contact</button></p>
         
             </div>
        <img src="assets\images\photo1.jpg" alt="">
    </div>

      
      <div class="section">
        <div class="text">
            <h2>k.inthi</h2>
          <p class="title">team member</p>
          
          <p>Email:inthi22@gmail.com</p>
          <p>phno:9381031776</p>
          <P>Roll no:21472A05M7</P>
          <p><button class="button">Contact</button></p>
        </div>
        <img src="assets\images\photo1.jpg" alt="">
    </div>

    <div class="section">
        <div class="text">
            <h2>p.ujwala</h2>
            <p class="title">team member</p>
            
            <p>Email:petetiujwaladevi26@gmail.com</p>
            <p>phno:7702478429</p>
            <p>Roll No:21475A05O3</p>
            <p><button class="button">Contact</button></p>
          
        </div>
        <img src="assets\images\photo1.jpg" alt="">
    </div>
</div>
