
<app-navbar></app-navbar><div>
    <img class="img1" src="">
    <ul>
        <li>Good hygiene is critical for preventing the spread of infectious diseases and helping children lead long, healthy lives. It also prevents them from missing school, resulting in better learning outcomes.

            For families, good hygiene means avoiding illness and spending less on health care. In some contexts, it can also secure a family’s social status and help individuals maintain self-confidence.
            
            Yet, important hygiene behaviours are difficult to practice without the right knowledge and skills, adequate community support and the belief that one’s own behaviour can actually make a difference.
            
            Many children around the world live in conditions that make it difficult to maintain good hygiene. Where homes, schools and health centres have dirt floors; where water for handwashing is unavailable; and even where families share spaces with domestic animals; maintaining hygiene can be a challenge. What’s more, practicing good hygiene is often perceived as a woman’s responsibility, adding to her burden of care.</li>
    <li>Behaviour and social change are at the heart of UNICEF’s hygiene programmes. We focus on four key behaviours that help children and their families maintain proper hygiene: handwashing with soap, safe disposal of child faeces, safe handling and storage of drinking water, and menstrual hygiene. </li>
      <li>UNICEF also advocates for increased funding for hygiene activities globally. This includes fostering political leadership for hygiene at all levels and recruiting high-profile champions and political leaders as advocates.

        Building on local knowledge and promoting positive traditional practices, we continue to develop new strategies and tools to improve key hygiene behaviours, while empowering communities to take their health and well-being into their own hands.  </li>  
</ul>
</div>
