
<!--<p>{{SuccessMsg}}</p>

<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registration</p>
  
                  <form class="mx-1 mx-md-4" #r="ngForm" (ngSubmit)="Insert(r)">
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" name="name" id="form3Example1c" class="form-control" ngModel />
                        <label class="form-label" for="form3Example1c">Your Name</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="gmail" name="gmail" id="form3Example3c" class="form-control" ngModel/>
                        <label class="form-label" for="form3Example3c">Your Email</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" name="password" id="form3Example4c" class="form-control" ngModel/>
                        <label class="form-label" for="form3Example4c">Password</label>
                      </div>
                    </div>
  
  
                    <div class="form-check d-flex justify-content-center mb-5">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                      <label class="form-check-label" for="form2Example3">
                        I agree all statements in <a href="#!">Terms of service</a>
                      </label>
                    </div>
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <!--<button type="button" class="btn btn-primary btn-lg btn1" (click)="Insert()">Register</button>-->
                      <!--<input type="submit" value="register" />
                      <div class="btsn2">
                        


                      <button type="button" class="btn btn-primary btn-lg"><a class="btn btn-primary" routerLink="/login">Login</a> </button>
                    </div>
                  </div>
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://tse4.mm.bing.net/th?id=OIP.a9G2RLq596TmmrknLJ_qvQHaFj&pid=Api&P=0&h=180"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>-->
<!DOCTYPE html>
<html>
<head>
<style>
        body {
           background-image: url();
             }
	body 
		{
		font-family: bold, Helvetica, sans-serif;
		margin-left:25%;
		margin-right:25%;
		border: 3px solid #000000;
		margin-bottom: 10px;
		padding: 10px 15px 10px 15px;
    border-radius: 100px;
		}
	input[type=text], input[type=password] 
		{
		width: 100%;
		padding: 10px;
		margin: 5px 0 22px 0;
		display: inline-block;
		border: none;
		background: #F5F5F5;
		}
	hr 
		{
		border: 1px solid #e6e6e6;
		margin-bottom: 5px;
		}
	.registerbutton
		{
		background-color: #29a329;
		color: white;
		padding: 15px 20px;
		margin: 10px 0px;
		border: none;
		cursor: pointer;
		width: 50%;
		text-size-adjust: bold;
    border-radius: 500px;;
    margin-left: 150px;
		}
    
    h1{
      text-align: center;
    }
    p{
      text-align: center;
    }

</style>
</head>
<body>
  
	<form action="action.php">
		<h1>REGISTRATION FORM</h1>
		<p>Please fill in this form to create an account.</p>
		<hr>
		
    <form [formGroup]="RegisterForm" (ngSubmit)="ReginUser()">	
    <label for="Name" class="form-label">Name:</label>
    <input type="text" name="Name" id="Name" class="form-control"  [(ngModel)]="User.name">

    <!--<label for="number" class="form-label">number:</label>
    <input type="number" name="Name" id="Name" class="form-control" [(ngModel)]="User.phone_number">-->

    <label for="gmail" class="form-label">Email:</label>
    <input type="gmail" name="gmail" id="gmail" class="form-control" formControlName="user" [(ngModel)]="User.gmail">
	<span style="color: red;" *ngIf="user&& user.invalid && user.touched"> user filed is not valid</span>

    <label for="password" class="form-label">Password:</label>
    <input type="password" name="password" id="password" class="form-control" formControlName="password" [(ngModel)]="User.password">
	<span style="color: red;" *ngIf="password && password.invalid && password.touched"> password filed is not valid</span>

    <!--<label for="confirm_password" class="form-label">confirm_password:</label>
    <input type="password" name="confirm_password" id="confirm_password" class="form-control" formControlName="password" [(ngModel)]="User.confirm_password">-->
    
   <a routerLink="/login"> <button type="submit" value="Register" class="registerbutton" (click)="ReginUser()">Register</button></a>
   </form>

		<hr>
		<p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

		
		
  
		
		<p>Already have an account? <a href="#" >Sign in</a>.</p>
		
	</form>

</body>
</html>


