
    <div class="main">
    
        <h1  class="hi" text-align="center">NARASARAOPETA ENGINEERING COLLEGE</h1><br>
        <h2 class="hl">AUTONOMOUS</h2><br>
    
    
        <h3><marquee>DEPARTMENT OF COMPUTER SCIENCE AND ENGINEERING</marquee></h3>
    
    <img class="image" src="https://yt3.ggpht.com/a/AATXAJwbr8mWQ9q9Q-bGF7Bi5el13KCN02wDiY1sdQ=s900-c-k-c0xffffffff-no-rj-mo" >
    <div class="button">
        <button ><a class="col" routerLink="/login">LOGIN</a></button>
        <button><a class="col" routerLink="/register">REGISTER</a></button></div>
    <h1>COMMUNITY SERVICE PROJECT</h1>
    <h2>HEALTH AND HYGIENE</h2>
</div>

