<app-navbar></app-navbar>


<div class="cl1">
    <h1>HEALTH AND HYGIENE</h1>
    <div class="d-flex flex-row">
    <img class="img1" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/health-poster-design-template-ec001a305108826cbe760dfc2a1de3f3_screen.jpg?ts=1573574823"><br><br>
    
    
<div>
    <p>This definition is just one of many that are possible. What constitutes “good” health in particular can vary widely. The rather fragile individual who stays “well” within the ordinary environment of his or her existence may succumb to a heart attack from heavy shovelling after a snowstorm; or a sea-level dweller may move to a new home in the mountains, where the atmosphere has a lower content of oxygen, and suffer from shortness of breath and anemia until his or her red blood cell count adjusts itself to the altitude. Thus, even by this definition, the conception of good health must involve some allowance for change in the environment.</p><br>
    <p>Safe and healthy hygiene habits are important for all ages, but they are especially important in settings with children who are in diapers and are very young. Maintaining safe diapering and infant feeding practices is essential to reduce the spread of germs and prevent children and caregivers from getting sick.

        The following links will help you learn about safe and healthy diapering and infant feeding practices.</p><br>
        <p>Many diseases and conditions can be prevented or controlled through appropriate personal hygiene and by regularly washing parts of the body and hair with soap and water. Good body washing practices can prevent the</p><br>
        <p>Safe water, sanitation, and hygiene (WASH) are fundamental to human health. However, in many areas of the world, practicing personal hygiene is difficult due to lack of access to necessities such as clean water and soap. Globally, 3.6 billion people lack access to safely managed sanitation facilities. Many people resort to open defecation—a practice that can endanger the safety of water used for drinking and personal use. Many diarrheal diseases spread through unsafe water and inadequate sanitation. Focused efforts are needed to accelerate and sustain progress toward eliminating WASH-related diseases and emerging threats like antibiotic-resistant infections.

        </p>
    </div>
</div>
</div>