<app-navbar></app-navbar>
<div>
    <img src="">
    <li>eating plenty of vegetables, fruits, and whole grains</li>
        <li>choosing fat-free or low fat dairy products, fish, poultry, beans, nuts, and vegetable oils</li>
        <li>limiting saturated and trans fat intake, such as fatty meats and full-fat dairy products</li>
        <li>limiting drinks and foods that contain added sugars</li>
        <li>restricting sodium intake to less than 2,300 milligrams per day — ideally 1,500 mg daily — and increasing consumption of potassium, magnesium, and calcium</li>
</div>