
<app-navbar></app-navbar>
<h1></h1>
<h2>Our Story</h2>
    <p>"Health is a state of complete physical, mental, and social well-being and not merely the absence of disease or infirmity.”</p>
    <p>"A resource for everyday life, not the objective of living. Health is a positive concept emphasizing social and personal resources, as well as physical capacities.”</p>
  <h2>Our Team members</h2>
<div>
    <div class="figure">

        <img  src="assets\img1.jpg" alt="M.Madhavi" width="400px" height="300px"><br><br>
        <h3>M.Madhavi</h3><br>
     
        <img  src="assets\img2.jpg" alt="P.ujwala" width="400px" height="300px" ><br>
        <h3>P.Ujwala</h3>
        <img  src="..\assets\img3.jpg" alt="Ala.Lakshmi Priyanka" width="400px" height="300px"><br>
        <h3>Ala.Lakshmi Priyanka</h3></div>
        <div class="figure">
        <img  src="..\assets\img4.jpg" alt="SK.Inthi" width="400px" height="300px"><br>
        <h3>SK.Inthi</h3>
        <img  src="..\assets\img5.jpg" alt="P.Nikhitha" width="400px" height="300px"><br>
        <h3>P.Nikhitha</h3>
        <img  src="..\assets\img6.jpg" alt="B.Triveni" width="400px" height="300px"><br>
        <h3>B.Triveni</h3>
        
        </div>
</div>
